.main-container{
    max-width: 700px;
    min-height: 600px;
    padding: 20px 10px;
    background-color: #fff;
    margin: 0 auto;
}
.page-title{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.page-name{

}
.page-name-text{
    font-size: 20px;
    font-weight: 700;
    color: #37383c;
}
.section{
    width: 100%;
    padding-bottom: 30px;
}
.section-grid{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    justify-content: flex-start;
    align-items: stretch;
}

.route{
    min-height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.12), 0 0 1px 0 rgba(0,0,0,.12);
    border-radius: 8px;
    background-color: #fff;
    margin: 10px;
    flex: 1 0 150px;
    transition: background-color 0.3s;
}
.hidden-route{
    flex: 1 0 150px;
    margin: 10px;
}
.route:hover{
    background-color: #ebf4fd;
}
.route-text{
    padding: 15px 5px 5px 15px;
    max-width: 100%;
    position: relative;
}
.route-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.route-count{
    color: #afafaf;
    line-height: 1;
}