.main-container{
    max-width: 900px;
    min-height: 600px;
    padding: 20px 10px;
    background-color: #fff;
    margin: 0 auto;
}
.cursor-loading *{
    cursor: wait !important;
}
.page-title{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.page-back{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-right: 12px;

}
.page-back-icon{
    height: 24px;
    width: 24px;

}
.page-back-icon svg{
    display: block;
    fill: #cccccc;
    height: 100%;
    width: 100%;
}
.page-image{
    flex: 0 0 auto;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    margin-right: 12px;

}
.page-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.page-name{
    flex: 1 1 auto;
    min-width: 200px;
    margin-right: 15px;
}
.page-name-text{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #37383c;
}

.page-vocabulary-add{
    flex: 0 0 auto;
    background-color: #eef5fd;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.page-vocabulary-add:hover{
    background-color: #dcebfb;
}
.page-vocabulary-add-text{
    color: #2582e7;
    font-weight: 600;
}
.page-vocabulary-add-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.page-vocabulary-add-icon svg{
    fill: #2582e7;
    display: block;
    height: 100%;
    width: 100%;
}
.page-vocabulary-my{
    flex: 0 0 auto;
    background-color: #f5f6f7;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.page-vocabulary-my:hover{
    background-color: #eaedf0;
}
.page-vocabulary-my-text{
    color: #98a7b2;
    font-weight: 600;
}
.page-vocabulary-my-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.page-vocabulary-my-icon svg{
    fill: #98a7b2;
    display: block;
    height: 100%;
    width: 100%;
}

.dictionary-edit{
    flex: 0 0 auto;
    background-color: #eef5fd;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.dictionary-edit:hover{
    background-color: #dcebfb;
}
.dictionary-edit-text{
    color: #2582e7;
    font-weight: 600;
}
.dictionary-edit-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.dictionary-edit-icon svg{
    fill: #2582e7;
    display: block;
    height: 100%;
    width: 100%;
}

.dictionary-delete{
    flex: 0 0 auto;
    background-color: #fce4df;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.dictionary-delete-text{
    color: #ed593b;
    font-weight: 600;
}
.dictionary-delete-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.dictionary-delete-icon svg{
    fill: #ed593b;
    display: block;
    height: 100%;
    width: 100%;
}


.words-table{
    width: 100%;

}
.words-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.word-audio{
    flex-grow: 0;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
}
.word-audio svg{
    height: 100%;
    width: 100%;
    fill: #afafaf;
}
.word-audio:hover svg{
    fill: #2582e7;
}
.word-text{
    flex-grow: 1;
    margin-right: 15px;
}
.word-original{
    color: #2582e7;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 3px;
}
.word-translation{
    font-size: 18px;
    line-height: 1;

}
.word-vocabulary{
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    color: #777;
    margin-right: 20px;
}
.word-vocabulary:hover{
    color: #2582e7;
}

.word-actions-delete{
    flex-grow: 0;
    height: 30px;
    width: 30px;
    padding: 7px;
}
.word-actions-delete svg{
    width: 100%;
    height: 100%;
    fill: #7e919f;
}
.word-actions-delete:hover svg{
    fill: #e72525;
}
.word-actions-add{
    flex-grow: 0;
    height: 30px;
    width: 30px;
    padding: 7px;
}
.word-actions-add svg{
    width: 100%;
    height: 100%;
    fill: #7e919f;
}
.word-actions-add:hover svg{
    fill: #2582e7;
}
.word-actions-refresh, .word-actions-done, .word-actions-delete, .word-actions-add{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .dictionary-edit, .dictionary-delete{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .word-audio{
        height: 28px;
        width: 28px;
        margin-right: 7px;
    }
    .word-original{
        font-size: 15px;
    }
    .word-translation{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .page-back{
        display: none;
    }
    .page-title{
        flex-wrap: wrap;
    }
    .page-name{
        flex: 1 1 200px;
    }
    .page-vocabulary-add{
        margin: 10px auto 0;
    }
    .words-row{
        padding: 10px 0;
    }
    .word-vocabulary{
        display: none;
    }
}