.main-container{
    max-width: 1000px;
    min-height: 600px;
    padding: 20px 10px;
    background-color: #fff;
    margin: 0 auto;
}
.cursor-loading *{
    cursor: wait !important;
}
.page-title{
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.page-name{
    flex: 1 1 auto;
    min-width: 200px;
    margin-right: 15px;
}
.page-name-text{
    font-size: 20px;
    font-weight: 700;
    color: #37383c;
}

.page-dictionary-new{
    flex: 0 0 auto;
    background-color: #eef5fd;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 10px;
}
.page-dictionary-new:hover{
    background-color: #dcebfb;
}
.page-dictionary-new-text{
    color: #2582e7;
    font-weight: 600;
}
.page-dictionary-new-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.page-dictionary-new-icon svg{
    fill: #2582e7;
    display: block;
    height: 100%;
    width: 100%;
}
.page-dictionary-new-group{
    flex: 0 0 auto;
    background-color: #eef5fd;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.page-dictionary-new-group:hover{
    background-color: #dcebfb;
}
.page-dictionary-new-group-text{
    color: #2582e7;
    font-weight: 600;
}
.page-dictionary-new-group-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.page-dictionary-new-group-icon svg{
    fill: #2582e7;
    display: block;
    height: 100%;
    width: 100%;
}



.card{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.12), 0 0 1px 0 rgba(0,0,0,.12);
    border-radius: 8px;
    background-color: #fff;
    margin: 10px;
}
.section{
    width: 100%;
    padding-bottom: 30px;
}
.section.section-my-words{
    padding-bottom: 10px;
}
.section.section-my-vocabularies{
    padding-bottom: 40px;
}
.section-title{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.section-name{
    flex: 1 1 auto;
    min-width: 200px;
    margin-right: 15px;
    color: #37383c;
    font-weight: 600;
    font-size: 17px;
}
.dictionary-edit-group{
    flex: 0 0 auto;
    background-color: #eef5fd;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 10px;
}
.dictionary-edit-group:hover{
    background-color: #dcebfb;
}
.dictionary-edit-group-text{
    color: #2582e7;
    font-weight: 600;
}
.dictionary-edit-group-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.dictionary-edit-group-icon svg{
    fill: #2582e7;
    display: block;
    height: 100%;
    width: 100%;
}

.dictionary-delete-group{
    flex: 0 0 auto;
    background-color: #fce4df;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.dictionary-delete-group-text{
    color: #ed593b;
    font-weight: 600;
}
.dictionary-delete-group-icon{
    height: 15px;
    width: 15px;
    margin-right: 12px;
}
.dictionary-delete-group-icon svg{
    fill: #ed593b;
    display: block;
    height: 100%;
    width: 100%;
}

.section-grid{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    justify-content: space-around;
    align-items: stretch;
}
.my-words{
    padding: 16px;
    height: 120px;
    flex:  320px 0 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
}
.my-words-icon{
    height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 30px 0 20px;
}
.my-words-icon svg{
    height: 100%;
    fill: #7e919f;
}
.my-words-text{

}
.my-words-count{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.my-words-link{
    color: #2582e7;
    font-size: 14px;
    font-weight: 600;
}

.my-progress{
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    height: 120px;
}
.my-progress-words{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;

}
.my-progress-words-icon{
    height: 32px;
    margin-right: 15px;
}
.my-progress-words-icon svg{
    height: 100%;
}
.my-progress-words-icon-mobile{
    display: none;
}
.my-progress-words-text{

}
.my-progress-words-title{
    color: #37383c;
    font-size: 17px;
    line-height: 1;
    margin-bottom: 2px;

}
.my-progress-words-count{
    color: #37383c;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}
.my-progress-training{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px;
}
.my-progress-training-text{
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    color: #2582e7;

}
.my-progress-training-icon{
    height: 16px;
}
.my-progress-training-icon svg{
    height: 100%;
    fill: #2582e7;
}

.vocabulary{
    flex: 1 0 200px;
    position: relative;
}
.hidden-vocabulary{
    flex: 1 0 200px;
    height: 0;
    margin: 0 10px;
}
.vocabulary-image{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-bottom: 56.25%;
    position: relative;
}
.vocabulary-image img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
    display: block;
    position: absolute;
    height: 100%;
    background-color: #fff;
}
.vocabulary-text{
    padding: 15px 15px;
    max-width: 100%;
    position: relative;
}
.vocabulary-title{
    height: 34px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 5px;
    word-wrap: break-word;

}
.vocabulary-count{
    color: #afafaf;
    line-height: 1;
}
.vocabulary-button{
    border-top: 1px solid #efefef;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 40px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.vocabulary-button-icon{
    height: 15px;
    margin-right: 10px;
}
.vocabulary-button-icon svg{
    height: 100%;
}
.vocabulary-button-text{
    font-size: 15px;
}
.vocabulary-add svg{
    fill: #2582e7;
}
.vocabulary-add .vocabulary-button-text{
    color: #2582e7;
}
.vocabulary-remove svg{
    fill: #e72525;
    transform: rotate(45deg);
    transform-origin: center;
}
.vocabulary-remove .vocabulary-button-text{
    color: #e72525;
}

@media screen and (max-width: 900px){
    .my-words{
        flex: 0 0 240px;
    }
    .my-words-icon{
        margin-left: 0;
    }
    .my-progress-training{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .my-words{
        flex: 0 0 calc(100% - 20px);
        justify-content: center;
    }
    .my-words-icon{
        margin-right: 20px;
    }
    .my-words-text{
        margin-right: 30px;
    }
    .my-progress{
        flex: 0 0 calc(100% - 20px);
    }
}
@media screen and (max-width: 500px){
    .my-words, .my-progress{
        padding: 24px 10px;
        height: auto;
    }
    .my-progress-words{
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 4px;
    }
    .my-progress-words-icon{
        display: none;
    }
    .my-progress-words-icon-mobile{
        display: block;
        height: 20px;
        margin-right: 0;
        margin-bottom: 7px;
    }
    .my-progress-words-text{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .page-dictionary-new, .page-dictionary-new-group, .dictionary-edit-group, .dictionary-delete-group{
        display: none;
    }
}