*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
html{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
body{
    height: 100%;
    font-size: 14px;
    background-color: #00094a;
}
.wrapper{
    height: 1px;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="checkbox"]{
    cursor:pointer;
}
a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus{
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
ul, ol{
    list-style: none;
    margin: 0;
}
button{
    cursor: pointer;
}

/* header */
header{
    width: 100%;
    height: 70px;
    flex: 0 0 auto;
    background-color: #00094a;
    position: fixed;
    z-index: 5;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
    max-width: 1100px;
    color: #fff;
}

.header-logo{
    cursor: pointer;
    height: 35px;
}
.header-logo img{
    height: 100%;
}
.header-language{
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;

}
.header-language-button{
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.header-language-button-text{
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-right: 8px;
}
.header-language-button-icon{
    width: 14px;
    height: 14px;
}
.header-language-button-icon svg{
    height: 100%;
    width: 100%;
    display: block;
    fill: #fff;
}
.header-language-popup{
    display: none;
    position: absolute;
    margin-top: 14px;
    top: 100%;
    right: -10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.08), 0 0.5px 1.5px 0 rgba(0,0,0,.12);
    border-radius: 8px;
}
.header-language-popup-container{
    padding: 10px 10px;
}
.language-popup-item{
    width: 180px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
}
.language-popup-item:hover{
    background-color: #eef5fd;
}
.language-popup-item:hover .language-popup-item-text{
    color: #2582e7;
}
.language-popup-item .language-popup-item-icon{
    flex-grow: 0;
    height: 20px;
    margin: 0 10px 0 10px;
}
.language-popup-item-icon img{
    height: 100%;
}
.language-popup-item-text{
    line-height: 1;
    font-size: 16px;
    color: #37383c;
}



.header-language-popup-triangle{
    height: 10px;
    overflow: hidden;
    position: absolute;
    width: 20px;
    margin: 0;
    top: -10px;
    right: -1px;
    transform: translateX(-7px);
}
.header-language-popup-diamond{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
    content: "";
    height: 14px;
    width: 14px;
    transform: translateX(10px) rotate(45deg);
    transform-origin: top left;
}
.header-language-button:hover .header-language-popup{
    display: block;
}
.header-language-button:hover:after{
    bottom: -14px;
    content: "";
    height: 30px;
    left: -15px;
    position: absolute;
    right: -15px;
}


.header-buttons{
    flex: 0 0 auto;
    display: none;
    flex-flow: row nowrap;
}
.header-buttons-visible{
    display: flex;
}
.header-button{
    padding: 12px 20px;
    font-size: 15px;
    line-height: 15px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    cursor: pointer;
}
.header-signup{
    margin-left: 20px;
    margin-right: 10px;
    background-color: #cf3a77;
}
.header-login{
    background-color: #274584;
}

.header-container > *{
}

main{
    padding-top: 70px;
    flex: 1 0 auto;
    height: 1px;
    min-height: 100%;

}

@media screen and (max-width: 600px){
    .header-language{
        display: none;
    }
}