.main-container{
    max-width: 800px;
    min-height: 600px;
    padding: 20px 10px;
    background-color: #fff;
    margin: 0 auto;
}
.page-title{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.page-name{

}
.page-name-text{
    font-size: 20px;
    font-weight: 700;
    color: #37383c;
}

.user-add-course{

}

.items-grid{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    justify-content: flex-start;
    align-items: stretch;
}
.course{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.12), 0 0 1px 0 rgba(0,0,0,.12);
    border-radius: 8px;
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    flex: 1 0 150px;
    transition: background-color 0.3s;
}
.course:hover{
    background-color: #ebf4fd;
}
.hidden-course{
    flex: 1 0 150px;
    height: 0;
    margin: 0 10px;
}

.course-added{
    height: 20px;
}
.course-added-icon{
    height: 20px;
    width: 20px;
    margin: 0 0 0 auto;
}
.course-added-icon svg{
    height: 100%;
    width: 100%;
    display: block;
    fill: #28c38a;
}

.course-image{
    padding: 20px 30px;
    max-width: 200px;
    margin: 0 auto;

}
.course-image img{
    width: 100%;

}
.course-name{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #37383c;
    margin-bottom: 10px;

}

